<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Bem-vindo ao blog do NodeJS</h1>
  <p class="lead">Esse é meu primeiro contato com backend usando Node.js + Express + MongoDB</p>
  <hr class="my-4">
  <p>E esse é meu blog, vem fazer parte dessa história.</p>
  <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Crie uma conta</a>
</div>

<hr>

<h2>Postagens recentes: </h2>

{{#each postagens}}
<div class="card">
    <div class="card-body">        
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagem/{{_id}}"><button class="btn btn-success">Leia mais</button></a>
        <hr>
        <small>Categoria: {{categoria.nome}}</small>
        <br>
        <small>Data de publicação: {{data}}</small>        
    </div>
</div>
{{else}}
    <h5>Nenhuma postagem no momento :(</h5>
{{/each}}